node_modules
/css/font
/css/bootstrap.css
/css/style.comp.css
/css/style.concat.css
/css/style.prefix.css
**/images
**/downloads
**/harvest-hills
**/jammming
**/nfws
**/PSD
**/recaptcha-master
**/styles
**/uwalumnistore
**/uwbookstore
.prettierrc
favicon.gif
favicon.ico
reCaptcha
workspace.code-workspace
portfolio.sublime-project
portfolio.sublime-workspace
.DS_Store
contact.php
**/files