node_modules
**/css
**/img
**/images
**/downloads
**/harvest-hills
**/jammming
**/nfws
**/PSD
**/recaptcha-master
**/styles
**/uwalumnistore
**/uwbookstore
.prettierrc
favicon.gif
favicon.ico
reCaptcha
workspace.code-workspace