.contact {
    &__info {
        &-list {
            list-style: none;
            padding: 0;

            li {
                text-decoration: none;
                margin: 1.5rem 0 0 0;
                padding: 0 0 0 3.25rem;
                position: relative;
                font-size: 1.6rem;
                color: $complementary;
                transition: all 0.25s ease-in-out;

                a {
                    &:link,
                    &:visited {
                        color: $complementary;
                        border-bottom: 1px dotted;
                        text-transform: lowercase;
                        text-decoration: none;
                        display: inline-block;
                    }
                }

                &:hover {
                    transform: translateY(-3px);
                    text-shadow: 0 1px 1px rgba($black, 0.2);
                }
            }

            i {
                &.fab,
                &.fas {
                    border: 2px solid $complementary;
                    border-radius: 100%;
                    height: 3rem;
                    width: 3rem;
                    padding: 5px;
                    margin-right: 1rem;
                    text-align: center;
                }
            }
        }
    }
}

.google-message {
    margin: 1.5rem 0 0 0;
    color: $gray-700;
    font-size: 0.8em;
}
.google-message a {
    color: $gray-700;
    text-decoration: underline;
}
.grecaptcha-badge {
    visibility: hidden;
}
